<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/estilo.css">
    <title>Jquery - Tutorial</title>
</head>

<body style="background-image: url('img/fundo_login.png'); background-size: cover;">
    <div class="container w-25">
        <div class="row align-items-center" style="min-height: 100vh">
            <div class="col-md-12 text-light d-flex justify-content-center arredondado rosa sombra">
                <div class="p-4">
                    <br>
                    <h3 class="text-center">Login</h3>
                    <br>
                    <h6 class="text-center">Insira seus dados para fazer login</h6>
                    <br>
                    <form name="form_login" method="post" action="#">
                        <div class="load"></div>
                        <div class="form-group">
                            <label for="login">Login</label>
                            <input class="w-100 arredondado" type="text" name="login" id="login" required>
                        </div>
                        <br>
                        <div class="form-group">
                            <label for="senha">Senha</label>
                            <input class="w-100 arredondado" type="password" name="senha" id="senha" required>
                        </div>
                        <br>
                        <input class="btn btn-md w-100 botao text-light" type="submit" value="Logar" id="botaoEnviar">
                    </form>
                    <br>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="../controller/jquery-3.7.1.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../controller/login.js"></script>
</body>

</html>